@import "tailwindcss";
/* main color codes : bg-[] */
/* sub color codes:  */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --pattern_1: #181818;
  --pattern_2: #333333;
  --pattern_3: #141414;
  --pattern_4: #b0b0b0;
  --pattern_5: #4f4f4f;
  --pattern_6: #ffffff;
  --pattern_7: #1b4301;
}

/* scrollbars styles */

.custom-scrollbar-y {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}
.custom-scrollbar-x {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  font-size: large;
  font-weight: bolder;
}
.sub-header {
  font-size: small;
  color: var(--pattern_4);
}
/* custom color class */
.pattern_1 {
  background-color: #181818;
}
.pattern_2 {
  background-color: #333333;
}
.pattern_3 {
  background-color: #141414;
}
.pattern_4 {
  background-color: #b0b0b0;
}
.pattern_5 {
  background-color: #4f4f4f;
}
.pattern_6 {
  background-color: #ffffff;
}
.pattern_7 {
  background-color: #1b4301;
}
.pattern_8 {
  background-color: #0b0e2faf;
}

.sub-styles {
  color: rgb(116, 116, 121);
  font-size: small;
}
